\.hg
.hgtags
.hgignore
*.bmp
*.cab
*.cer
*.classdiagram
*.compiled
*.csdl
*.cur
*.dat
*.dgml
*.dll
*.doc
*.docx
*.exclude
*.exe
*.flv
*.gif
*.gz
*.ico
*.jpeg
*.jpg
*.lnk
*.log
*.msl
*.orig
*.pdb
*.pfx
*.pdf
*.png
*.psd
*.psess
*.pvk
*.rcg
*.rtf
*.scc
*.ssdl
*.suo
*.swf
*.testrunconfig
*.tmp
*.trx
*.uml
*.user
*.vsp
*.vspscc
*.vssscc
*.webtestresult
*.xap
*.xls
*.zip

bin/
*/bin/
*/*/bin/
*/*/*/bin/
*/*/*/*/bin/
*/*/*bin/*.xml
*/*/bin/*.xml
*/*/bin/*/*.xml
*/*/*/bin/*.xml
*/*/*/bin/*/*.xml
*\Debug
*\log4net.xml
*\obj
*\Release
*\TestResults
*\PrecompiledWeb
_ReSharper*/
Thumbs.db
*\TestResults
TestResults/
