<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="D:\Hosting\4007250\html\App_Data\errors.txt" />
		<appendToFile value="true" />
		<maximumFileSize value="10000KB" />
		<maxSizeRollBackups value="2" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<acceptOnMatch value="true" />
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="RollingFile"/>
	</root>
</log4net>