<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" />
    <section name="content" type="Cliffy.Web.CliffordCorner.ConfigHandler,Cliffy.Web" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="NavLimit" value="10" />
    <add key="MaxDim" value="120" />
    <add key="apiKey" value="53cd1e15db474f964abc3cfc16e0735f" />
    <add key="secret" value="786ddc128885ed49" />
    <add key="email" value="wclifford@yahoo.com" />
    <add key="password" value="wolverines" />
    <add key="userID" value="22671681@N00" />
    <add key="groupId" value="31386902@N00" />
    <add key="imageCount" value="70" />
    <add key="UserDb" value="~/App_Data/Users.dat" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <flickrNet apiKey="53cd1e15db474f964abc3cfc16e0735f" secret="786ddc128885ed49" cacheDisabled="false" cacheTimeout="6:00:00" />
  <dotNetOpenAuth>
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
                    with OPs that use Attribute Exchange (in various formats). -->
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <!--
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
          -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
      </relyingParty>
      <provider></provider>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
  <connectionStrings>
    <!--
    <add name="MongoDb" connectionString="mongodb://cliffy_user:cliffy!@ds029338.mongolab.com:29338/cliffy" />
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <trust level="Full" originUrl="" processRequestInApplicationTrust="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/admin/login" defaultUrl="~/admin/" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages theme="Default">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Cliffy.Web.CliffordCorner.ActionFilters" />
        <add namespace="Cliffy.Web.CliffordCorner.Controllers" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CliffordCornerMvc.ServicesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CliffordCornerMvc.Services">
        <endpoint behaviorConfiguration="CliffordCornerMvc.ServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="CliffordCornerMvc.Services" />
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <content>
    <flickrSet id="1" setId="72157606701085631" title="Peru" number="5">
      <description>A trek around Salkantey, ending at Machu Picchu.</description>
      <pages>
        <flickrTag tag="cuzco" title="Cuzco" />
        <flickrTag tag="sacsayhuaman" title="Sacsayhuaman" />
        <flickrTag tag="salkantay" title="Salkantay Trek" />
        <flickrTag tag="machupicchu" title="Machu Picchu" />
      </pages>
    </flickrSet>
    <flickrSet id="2" setId="72157602427960981" title="Nepal" number="6">
      <description>A trek through the Everest Region in Nepal. Including stops in Bangkok and Kathmandu.</description>
      <pages>
        <flickrTag tag="kathmandu" title="Kathmandu" />
        <flickrTag tag="trek" title="The Trek" />
        <flickrTag tag="namche" title="Around Namche" />
        <flickrTag tag="everest" title="Mt Everest" />
        <flickrTag tag="tengboche" title="Around Tengboche" />
        <flickrTag tag="lukla" title="Around Lukla" />
        <flickrTag tag="bangkok" title="Bangkok" />
      </pages>
    </flickrSet>
    <flickrSet id="3" setId="72157594373088876" title="Australia" number="7">
      <description>Travels through Australia and Tasmania</description>
      <pages>
        <flickrTag tag="taltarni" title="Taltarni &amp; a Country Race" />
        <flickrTag tag="victoria" title="The Great Ocean Road" />
        <flickrTag tag="tasmania" title="Tassie Travels" />
        <flickrTag tag="newsouthwales" title="Mary, Dave &amp; New South Wales" />
        <htmlPage path="~/travellogs/australia.html" title="Travel Journal" />
      </pages>
    </flickrSet>
    <flickrSet id="4" setId="1157473" title="Bhutan" number="8">
      <description>Exploring the Himilayan Kingdom of Bhutan, Angkor Wat, and Bangkok</description>
      <pages>
        <flickrTag tag="bangkok" title="Bangkok" />
        <flickrTag tag="cambodia" title="Cambodia" />
        <flickrTag tag="bhutan" title="Bhutan" />
        <htmlPage path="~/travellogs/bhutan.html" title="Travel Journal" />
      </pages>
    </flickrSet>
    <flickrSet id="5" setId="707782" title="Chile" number="9">
      <description>Quick adventure down to the Thin Country (Chile)</description>
      <pages>
        <flickrTag tag="aroundsantiago" title="Around Santiago" />
        <flickrTag tag="torresdelpaine" title="Torres del Paine" />
        <flickrTag tag="pucon" title="Pucón" />
        <htmlPage path="~/travellogs/chile.html" title="Travel Journal" />
      </pages>
    </flickrSet>
    <redirect id="6" title="Africa" number="10">
      <description>African Safari Adventure</description>
      <uri>/travellogs/africa/</uri>
    </redirect>
    <flickrSet id="7" setId="72157594259055081" title="Moab" number="11">
      <description>Hiking, Mountain Biking, and otherwise adventuring solo around Utah.</description>
      <pages>
        <htmlPage path="~/travellogs/moab.html" title="Travel Journal" />
        <flickrTag tag="bryce" title="Bryce" />
        <flickrTag tag="zion" title="Zion" />
        <flickrTag tag="moab" title="Moab" />
      </pages>
    </flickrSet>
    <flickrSet id="8" setId="72157620904653603" title="Honeymoon" number="4">
      <description>Our relaxing honeymoon adventure to Roatan, Honduras.</description>
      <pages>
        <flickrTag tag="honeymoon" title="All Photographs" />
        <flickrTag tag="barefootcay" title="Barefoot Cay" />
        <flickrTag tag="picobonito" title="Pico Bonito" />
        <flickrTag tag="anthonyskey" title="Anthony's Key" />
        <flickrTag tag="westbay" title="West Bay" />
        <flickrTag tag="infinitybay" title="Infinity Bay" />
      </pages>
    </flickrSet>
    <flickrSet id="9" setId="72157621459686057" title="Our Wedding" number="3" isTravelLog="false">
      <description>Photographs and notes from our Wedding.</description>
      <pages>
        <menuTitle>Details &amp; Photographs</menuTitle>
        <flickrTag tag="preparation" title="The Preparation">
          Test adding <strong>some notes</strong> here.
        </flickrTag>
        <flickrTag tag="rehearsaldinner" title="The Rehearsal Dinner" />
        <flickrTag tag="portraits" title="Taking Portraits" />
        <flickrTag tag="ceremony" title="The Ceremony" />
        <flickrTag tag="reception" title="The Reception" />
        <flickrTag tag="bridegroom" title="The Bride &amp; Groom" />
        <flickrTag tag="family" title="Family Shots" />
        <flickrTag tag="guests" title="Our Guests" />
        <blogPosts label="Wedding" title="Posts" />
      </pages>
    </flickrSet>
    <flickrSet id="10" setId="72157624473398430" title="Sabbatical" number="2">
      <description>Photographs from our adventures through Turkey, Greece and Croatia.</description>
      <pages>
        <flickrTag tag="sabbatical" title="All Photographs" />
        <flickrTag tag="turkey" title="Turkey" />
        <flickrTag tag="greece" title="Greece" />
        <flickrTag tag="croatia" title="Croatia" />
        <blogPosts label="2010%20Sabbatical" title="Notes and Stories" />
      </pages>
    </flickrSet>
    <photographs id="11" title="Photographs" number="1" isTravelLog="false">
      <description>Photographs by, about, and related to the Clifford Family.</description>
      <pages overview="false">
        <menuTitle>Quicklinks</menuTitle>
        <photographTag tag="family" title="Family" />
        <photographTag tag="ross" title="Ross" />
        <photographTag tag="tommy" title="Tommy" />
        <photographTag tag="debbie" title="Debbie" />
        <photographTag tag="colin" title="Colin" />
        <photographTag tag="emily" title="Emily" />
      </pages>
    </photographs>
    <home title="Home" number="0" isTravelLog="false">
      <description>The latest news and what not about the Clifford family.</description>
    </home>
  </content>
</configuration>