/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/
*{margin:0; padding:0;}

body {font: 85% Verdana,Tahoma,Arial,sans-serif; line-height: 1.4em; text-align: center; color: #303030; background: #003366;}
a {color:#467aa7; font-weight:bold; background-color:inherit; }
a:hover, a:active {color:#2a5a8a; text-decoration: none; background-color:inherit; }
a img {border:none;}

p {padding:0 0 1.6em 0;}
p form {margin-top:0; margin-bottom:20px;}

ul.thumbnails {margin: 0 !important; padding: 0; clear: both;}
ul.thumbnails li {list-style-type: none;}
.thumbnail { padding: 4px 4px 4px 4px; border: 1px solid #a0a0a0; float: left; display: block; margin: 0 8px 5px auto; }
.spotlight { padding: 4px 4px 4px 4px; border: 1px solid #a0a0a0; float: left; margin: 0px 12px 5px 5px; }
.spotlightRight { padding: 4px 4px 4px 4px; border: 1px solid #a0a0a0; float: right; margin: 0 0 5px 12px; }
img.left,img.center,img.right{ padding: 4px 4px 4px 4px; border: 1px solid #a0a0a0;}
img.left{ float: left; margin: 0px 12px 5px 5px;}
img.center{float: left; display: block; margin: 0 8px 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

#container {width: 960px; margin: 20px auto; padding: 1px 0; text-align: left; background: #ffffff; color: #303030; border: 2px solid #a0a0a0;}

/**************** Header and navigation styles ****************/

#header {height:110px; width: 958px; margin:0 1px 1px 1px; background:#467aa7; color:#ffffff; background-image: url(../../images/logo.png); background-repeat: no-repeat;}
#header h1 {margin: 0px 0px 0px 0px; padding: 50px 0px 0px 20px; font-size: 16pt; color: inherit; letter-spacing: -2px; font-weight: normal; visibility: hidden;}
#header h2 {margin: 0px 0px 0px 40px; padding: 0px 0px 0px 0px; font-size: 1.4em; line-height: 1.4em; color: #f0f2f4; letter-spacing: 0px; font-weight: normal; font-style: italic; font-family: Comic Sans MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;}

#navigation {height: 2.2em; line-height: 2.2em; width: 958px; margin: 0 1px; background: #578bb8; color: #ffffff; clear: both;}
#navigation li {float: left; list-style-type: none; border-right: 1px solid #ffffff; white-space: nowrap; }
#navigation li a {display: block; padding: 0 10px; font-size: 0.8em; font-weight: normal; text-transform: uppercase; text-decoration: none; background-color: inherit; color: #ffffff;}
* html #navigation a {width:1%;}
#navigation .selected, #navigation a:hover {background: #80b0da; color: #ffffff; text-decoration: none;}
#more {position: absolute; z-index: 10; width: 150px; background-color: #80b0da; padding: 3px 0px 0px 0px; border-left: outset 1px #80b0da; border-right: outset 1px #80b0da; border-bottom: outset 1px #80b0da; margin-left: -1px;}
#more li {float: none; border: 0px; color: #ffffff; }
#more li a {display: block; font-size: 0.8em; font-weight: normal; text-transform: uppercase; text-decoration: none; color: #ffffff;}
#more .hover {background: #578bb8; text-decoration: none;}
#more a:hover {background: #578bb8; text-decoration: none;}

/**************** Content styles ****************/

#content {float:left; width: 675px; font-size: 0.9em; padding: 20px 0 0 20px; }
#content h2 {display:block; margin:0 0 16px 0; font-size:1.7em; font-weight:normal; letter-spacing:-1px; color:#505050; background-color:inherit; }
#content h2 a{font-weight:normal;}
#content h3{margin:0 0 5px 0; font-size:1.4em; font-weight: normal; letter-spacing:-1px;}
#content a:hover,#subcontent a:hover{text-decoration: none;}
#content ul,#content ol{margin:0 5px 16px 35px;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}
#content #slideShowDiv {padding:4px; border:1px solid #a0a0a0;}

/**************** Sidebar styles ****************/

#subcontent {float: right; width: 220px; padding: 20px 20px 10px 0; line-height: 1.4em; }
#subcontent h2 {display: block; margin: 5px 0 15px 0; font-size: 1.2em; font-weight: normal; text-align: left; letter-spacing: 0px; color: #505050; background-color: inherit;}
#subcontent h3 {display: block; line-height: 2.2em; font-size: 1.1em; font-weight: normal; text-align: left; letter-spacing: 0px; color: #505050; background-color: inherit;}
#subcontent p {margin: 0 0 16px 0; font-size: 0.9em;}

/**************** Menublock styles ****************/

.menublock{margin:0 0 20px 8px; font-size:0.9em;}
.menublock li{list-style: none; display: block; padding: 2px; margin-bottom: 2px;}
.menublock li a {font-weight: normal; color:#003366;}
.menublock li a:hover {text-decoration: none;}
.menublock li a:active {text-decoration: none;}
.menublock li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a {font-weight:normal;}

/**************** Searchbar styles ****************/

#searchbar, #authenticate {margin:0 0 20px 0;}
#authenticate fieldset, #searchbar fieldset{margin-left:10px; border:0 solid;}

#searchbar .input {height:1.2em; width:110px; margin:0 5px 0 0; border:1px solid #a0a0a0;}
#searchbar .button, #authenticate .button {width:auto; padding:0 1px; border:1px solid #808080; font-size:0.9em; text-align:center;}

/**************** Footer styles ****************/

#footer {clear: both; width: 958px; padding: 5px 0; margin: 5px 1px 0px 0px; font-size: 0.9em; color: #f0f0f0; background:#467aa7;}
#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/**************** Misc classes and styles ****************/

.splitcontentleft{float:left; width:47%;}
.splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}
.box{margin:0 0 20px 0; padding:10px; border:1px solid #c0c0c0; background-color:#fafbfc; color:#505050; line-height:1.5em;}

#paging {text-align: right; margin: 0 30px 0px 350px; line-height: 24px;}
#paging ul {margin: 0px 0px 10px 0px;}
#paging li {display: inline; list-style-type: none;}
#paging li a {padding:4px;border:1px solid #a0a0a0; margin-left: 5px;}
#paging li a:hover, #paging li.selected a {background: #80b0da; color: #ffffff; text-decoration: none;}

#breadcrumb {float: left; width: 340px; text-align: left; line-height: 18px;}
#breadcrumb STRONG {margin-right: 10px;}

.error {border: solid 1px red; color: Red;}