<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
      <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" />
      <section name="contentBook" type="Cliffy.Web.ContentEngine.ContentHandler, Cliffy.Web" />
      <section name="rewriteModule" requirePermission="false" type="Cliffy.Web.UrlRewriter.UrlRewriterHandler, Cliffy.Web" />
    </configSections>
    <appSettings>
      <add key="MaxDim" value="120" />
      <add key="apiKey" value="53cd1e15db474f964abc3cfc16e0735f" />
      <add key="secret" value="786ddc128885ed49" />
      <add key="email" value="wclifford@yahoo.com" />
      <add key="password" value="wolverines" />
      <add key="userID" value="22671681@N00" />
      <add key="groupId" value="31386902@N00" />
      <add key="imageCount" value="70" />
    </appSettings>
    <flickrNet apiKey="53cd1e15db474f964abc3cfc16e0735f" secret="786ddc128885ed49" cacheLocation="database" cacheDisabled="false" cacheTimeout="12:00:00" />
    <contentBook>
      <contentChapter name="Peru" position="3">
        <description>A trek around Salkantey, ending at Machu Picchu.</description>
        <flickr setId="72157606701085631" />
        <contentPages>
          <flickrTag tag="Cuzco" title="Cuzco" />
          <flickrTag tag="Sacsayhuaman" title="Sacsayhuaman" />
          <flickrTag tag="Salkantay" title="Salkantay Trek" />
          <flickrTag tag="MachuPicchu" title="Machu Picchu" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Nepal" position="4">
        <description>A trek through the Everest Region in Nepal. Including stops in Bangkok and Kathmandu.</description>
        <flickr setId="72157602427960981" />
        <contentPages>
          <flickrTag tag="Kathmandu" title="Kathmandu" />
          <flickrTag tag="Trek" title="The Trek" />
          <flickrTag tag="Namche" title="Around Namche" />
          <flickrTag tag="Everest" title="Mt Everest" />
          <flickrTag tag="Tengboche" title="Around Tengboche" />
          <flickrTag tag="Lukla" title="Around Lukla" />
          <flickrTag tag="Bangkok" title="Bangkok" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Australia" position="5">
        <description>Travels through Australia and Tasmania</description>
        <flickr setId="72157594373088876" />
        <contentPages>
          <flickrTag tag="taltarni" title="Taltarni &amp; a Country Race" />
          <flickrTag tag="victoria" title="The Great Ocean Road" />
          <flickrTag tag="tasmania" title="Tassie Travels" />
          <flickrTag tag="newsouthwales" title="Mary, Dave &amp; New South Wales" />
          <htmlPage path="~/travellogs/australia.html" title="Travel Journal" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Bhutan" position="6">
        <description>Exploring the Himilayan Kingdom of Bhutan, Angkor Wat, and Bangkok</description>
        <flickr setId="1157473" />
        <contentPages>
          <flickrTag tag="bangkok" title="Bangkok" />
          <flickrTag tag="cambodia" title="Cambodia" />
          <flickrTag tag="bhutan" title="Bhutan" />
          <htmlPage path="~/travellogs/bhutan.html" title="Travel Journal" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Chile" position="7">
        <description>Quick adventure down to the Thin Country (Chile)</description>
        <flickr setId="707782" />
        <contentPages>
          <flickrTag tag="aroundsantiago" title="Around Santiago" />
          <flickrTag tag="torresdelpaine" title="Torres del Paine" />
          <flickrTag tag="pucon" title="Pucón" />
          <htmlPage path="~/travellogs/chile.html" title="Travel Journal" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Africa" position="8">
        <description>African Safari Adventure</description>
        <redirect>~/travellogs/africa/</redirect>
      </contentChapter>
      <contentChapter name="Moab" position="9">
        <description>Hiking, Mountain Biking, and otherwise adventuring solo around Utah.</description>
        <flickr setId="72157594259055081" />
        <contentPages>
          <htmlPage path="~/travellogs/moab.html" title="Travel Journal" />
          <flickrTag tag="bryce" title="Bryce" />
          <flickrTag tag="zion" title="Zion" />
          <flickrTag tag="moab" title="Moab" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Honeymoon" position="2">
        <description>Our relaxing honeymoon adventure to Roatan, Honduras.</description>
        <flickr setId="72157620904653603" />
        <contentPages>
          <flickrTag tag="honeymoon" title="All Photographs" />
          <flickrTag tag="barefootcay" title="Barefoot Cay" />
          <flickrTag tag="picobonito" title="Pico Bonito" />
          <flickrTag tag="anthonyskey" title="Anthony's Key" />
          <flickrTag tag="westbay" title="West Bay" />
          <flickrTag tag="infinitybay" title="Infinity Bay" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Our Wedding" position="1" isTravelLog="false">
        <description>Photographs and notes from our Wedding.</description>
        <flickr setId="72157621459686057" />
        <contentPages>
          <menuTitle>Details &amp; Photographs</menuTitle>
          <flickrTag tag="preparation" title="The Preparation">
            Test adding <strong>some notes</strong> here.
          </flickrTag>
          <flickrTag tag="rehearsaldinner" title="The Rehearsal Dinner" />
          <flickrTag tag="portraits" title="Taking Portraits" />
          <flickrTag tag="ceremony" title="The Ceremony" />
          <flickrTag tag="reception" title="The Reception" />
          <flickrTag tag="bridegroom" title="The Bride &amp; Groom" />
          <flickrTag tag="family" title="Family Shots" />
          <flickrTag tag="guests" title="Our Guests" />
        </contentPages>
      </contentChapter>
      <contentChapter name="Sabbatical" position="0" isTravelLog="true">
        <description>Photographs from our adventures through Turkey, Greece and Croatia.</description>
        <flickr setId="72157624473398430" />
        <contentPages>
          <flickrTag tag="sabbatical" title="All Photographs" />
          <flickrTag tag="turkey" title="Turkey" />
          <flickrTag tag="greece" title="Greece" />
          <flickrTag tag="croatia" title="Croatia" />
        </contentPages>
      </contentChapter>
    </contentBook>
    </contentBook>
    <rewriteModule enabled="true">
      <rule source="photographs/(.*)/page(.*)" destination="/photographs.aspx?t=$1&amp;page=$2" />
      <rule source="photographs/page(.*)" destination="/photographs.aspx?page=$1" />
      <rule source="travellog/(.*)/photograph/(.*)/(.*)" destination="/contentengine/contentpageflickrimage.aspx?l=$1&amp;i=$2&amp;s=$3" />
      <rule source="travellog/(.*)/photographs/(.*)" destination="/contentengine/contentpageflickrtag.aspx?l=$1&amp;t=$2" />
      <rule source="travellog/(.*)/photographs" destination="/contentengine/contentpageflickrtag.aspx?l=$1" />
      <rule source="our wedding/photograph/(.*)/(.*)" destination="/contentengine/contentpageflickrimage.aspx?l=our+wedding&amp;i=$1&amp;s=$2" />
      <rule source="our wedding/photographs/(.*)" destination="/contentengine/contentpageflickrtag.aspx?l=our+wedding&amp;t=$1" />
      <rule source="our wedding/photographs" destination="/contentengine/contentpageflickrtag.aspx?l=our+wedding" />
      <rule source="photographs/(.*)" destination="/photographs.aspx?t=$1" />
      <rule source="photographs" destination="/photographs.aspx" />
      <rule source="photograph/(.*)/(.*)" destination="/photograph.aspx?i=$1&amp;s=$2" />
      <rule source="travellogs/africa" skip="true" />
      <rule source="travellogs/(.*)" destination="/contentengine/contentchapter.aspx?l=$1" />
      <rule source="travellog/(.*)/notes/(.*)" destination="/contentengine/contentpagehtml.aspx?l=$1&amp;h=$2" />
      <rule source="travellog/(.*)/notes" destination="/contentengine/contentpagehtml.aspx?l=$1" />
      <rule source="travellog/(.*)" destination="/contentengine/contentchapter.aspx?l=$1" />
      <rule source="our wedding/notes/(.*)" destination="/contentengine/contentpagehtml.aspx?l=our+wedding&amp;h=$1" />
      <rule source="our wedding/notes" destination="/contentengine/contentpagehtml.aspx?l=our+wedding" />
      <rule source="our wedding" destination="/contentengine/contentchapter.aspx?l=our+wedding" />
    </rewriteModule>
    <connectionStrings />
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">

          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          </assemblies>

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

      <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
      <trace enabled="false" requestLimit="1000" localOnly="false" pageOutput="true" traceMode="SortByTime" />

      <pages>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </controls>
      </pages>

      <httpHandlers>
        <remove verb="*" path="*.asmx" />
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </httpModules>
    </system.web>
</configuration>
