/* andreas04 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.
Version: 1.5, July 15, 2006 */

body { margin:0; padding:0; font:76% tahoma,verdana,sans-serif; background:#e6e6e6 url(images/bodybg.png) repeat-x; color:#333; text-align:center; }

a { text-decoration:none; color:#269; font-weight:bold; }
a:hover{ text-decoration:underline; }

p { margin:0 0 15px 0; line-height:1.5em; }

h1,h2,h3,h4 { margin:0; padding:0; font-weight:normal; }
h1 { font-size:3.2em; letter-spacing:-3px; color:#567; margin:12px 0 5px 20px; }
h1 a:hover{ text-decoration:none; }
h2 { font-size: 1.8em; letter-spacing: -1px; color:#888; }
h3 { color: #555; font-size:1.4em; margin-bottom: 0.5em;}
h4 { font-size:1.2em; font-weight:bold; }

#container{ width:92%; min-width:700px; padding:0 20px; margin:0 auto; background:#f0f0f0 url(images/contentbg.png) repeat-x; color:#333; text-align:left; border-left:1px solid #eef;border-right:1px solid #eef;}

#header { height: 70px; background:url(../../images/logo.png) no-repeat; width: 100%; color: #333; }
#header h1 {display: none;}
#header h2 {display: none;}

#navigation { clear: both; margin-top: -13px;}
#navigation li { float: left; list-style-type: none; }
#navigation li a { display: block; margin: 0px; padding: 0px 6px 0px 6px; font-size:1.6em; font-weight:normal; letter-spacing:-1px; color: #888; }
#navigation li a:hover{ color:#269; text-decoration:none; padding: 0px 6px 0px 6px; }

#content{ float: left; width:68%; margin-top: 20px; }
#content h2 { margin-bottom: 6px; color: #555; border-bottom: 2px solid #abb; }
#content h2 a { color:#555; font-weight:normal; }
#content h2 a:hover{ color:#269; text-decoration:none; background:none; }
#content p{ margin:0 0.5em 1.2em 0.5em; }

#subcontent{ float: right; width: 30%; margin-top: 15px; }
#subcontent h2 { margin-bottom: 6px; font-size:1.6em; border-bottom: 2px solid #abb; }
.box { margin: 0 0 20px 0; padding: 10px; clear: both; }

#footer{ clear:both; padding:10px 0 12px 24px; text-align: center; color:#888; border-top: 1px solid #abb; margin-top: 10px; }

#footer a{
color:#888;
font-weight:normal;
}

#footer span{
color:#aaa;
font-size:2em;
letter-spacing:-2px;
}

.entry{
position:relative;
margin:0 0 20px 0;
border:2px solid #fff;
background:#eee url(images/entrybg.png) repeat-x;
color:#333;
padding:10px 10px 0 10px;
}

.entry a:hover, .intro a:hover{
text-decoration:none;
padding-bottom:2px;
background:url(images/flash2.gif) bottom left repeat-x; /* Delete this line to remove the flashing underline for regular links */
}

.link{
color:#269;
background:url(images/linkarrow.gif) left no-repeat;
display:block;
margin:4px 0 0 0;
padding:2px 1em;
}

.link:hover{
color:#48b;
background:url(images/blinkarrow.gif) left no-repeat; /* Delete this line to remove the blinking arrows by the links */
text-decoration:none;
}

.thumbnail a { float: left; display: block; margin: 0 8px 5px auto; padding: 3px; border: 1px solid #fff; background-color: #ddd; color: #555; }
.thumbnail a:hover{ background: url(images/flash.gif); }
a .spotlight { padding: 4px 4px 4px 4px; border: 1px solid #fff; float: left; margin: 0px 12px 5px 5px; background-color: #ddd; color: #555;}
a:hover .spotlight { background: url(images/flash.gif); }
img.spotlight:hover { background: url(images/flash.gif); }
.spotlightRight { padding: 4px 4px 4px 4px; border: 1px solid #fff; float: right; margin: 0 0 5px 12px; background-color: #ddd; color: #555;}
.spotlightRight img:hover{ background: url(images/flash.gif); }
img.spotlightRight:hover{ background: url(images/flash.gif); }

.entryphoto{
margin:5px 10px 10px 0;
float:left;
padding:3px;
border:1px solid #fff;
background-color:#ddd;
color:#333;
}

.meta{
clear:both;
border-top: 2px solid #ccc;
padding: 5px 1px 0 0;
margin:10px 0 0 0;
text-align:right;
font-size:0.9em;
color: #567;
}

.pagenav{
color: #888;
text-align:center;
}

.entry img{
position:relative;
}

.subcontainer {
width:98%;
}

.menublock { margin: 0px; padding: 0px;}
.menublock li{list-style: none; display: block; padding: 2px; margin-bottom: 2px;}
.menublock li a {color:#269; background:url(images/linkarrow.gif) left no-repeat; display:block; padding:0px 1em; }
.menublock li a:hover {color:#48b; background:url(images/blinkarrow.gif) left no-repeat; text-decoration:none;}
.menublock li ul{margin: 0px; padding: 0px; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a {font-weight:normal;}

.date{
display:block;
float:left;
font-weight:bold;
}

.right{
text-align:right;
}

.center{
text-align:center;
}

.clear{
clear:both;
}

.hide{
display:none;
}